# 복습 문제

In [6]:
import pandas as pd
import pingouin as pg

## 두 집단의 평균 비교(t-test)

In [2]:
smokers = pd.read_excel('data/birthsmokers.xlsx')
smokers.head()

    Wgt  Gest Smoke
0  2940    38   yes
1  3130    38    no
2  2420    36   yes
3  2450    34    no
4  2760    39   yes

In [15]:
yes = smokers[smokers.Smoke == 'yes'].Wgt

In [16]:
no = smokers[smokers.Smoke == 'no'].Wgt

In [17]:
pg.ttest(yes, no)

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,-0.748293,30,two-sided,0.46011,"[-344.95, 159.95]",0.264562,0.417,0.111974

## 분산 분석과 사후 검정

In [19]:
d = pd.read_excel('data/depression.xlsx')
d.head()

    y  age  x2  x3 TRT
0  56   21   1   0   A
1  41   23   0   1   B
2  40   30   0   1   B
3  28   19   0   0   C
4  55   28   1   0   A

In [20]:
d.TRT.nunique()

3

In [21]:
pg.homoscedasticity?

In [22]:
pg.homoscedasticity(d, group='TRT', dv='y')

               W      pval  equal_var
levene  9.948595  0.000416      False

In [23]:
pg.welch_anova(d, between='TRT', dv='y')

  Source  ddof1     ddof2         F     p-unc       np2
0    TRT      2  20.10888  6.641878  0.006101  0.171857

In [25]:
pg.pairwise_gameshowell(d, between='TRT', dv='y')

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,A,B,62.333333,51.916667,10.416667,3.037123,3.429781,20.576516,0.006935,1.351919
1,A,C,62.333333,51.250000,11.083333,5.293590,2.093727,13.980108,0.126931,0.825286
2,B,C,51.916667,51.250000,0.666667,5.517992,0.120817,15.928732,0.900000,0.047622

## 상관 분석

In [35]:
cancer = pd.read_excel('data/skincancer.xlsx')
cancer.head()

        State   Lat  Mort  Ocean   Long
0     Alabama  33.0   219      1   87.0
1     Arizona  34.5   160      0  112.0
2    Arkansas  35.0   170      0   92.5
3  California  37.5   182      1  119.5
4    Colorado  39.0   149      0  105.5

In [36]:
p = pg.corr(cancer.Mort, cancer.Lat)
p

          n         r          CI95%         p-val       BF10  power
pearson  49 -0.824518  [-0.9, -0.71]  3.309456e-13  2.554e+10    1.0

In [37]:
p['p-val'] < 0.05

pearson    True
Name: p-val, dtype: bool

In [38]:
pg.corr(cancer.Mort, cancer.Long)

          n         r          CI95%   p-val  BF10    power
pearson  49 -0.146188  [-0.41, 0.14]  0.3162  0.29  0.17159

## 회귀 분석

In [43]:
from statsmodels.formula.api import ols

In [44]:
speed = pd.read_excel('data/speed.xlsx')
speed.head()

   speed  dist
0      4     2
1      4    10
2      7     4
3      7    22
4      8    16

In [47]:
s = ols('dist ~ speed', speed).fit()
s.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dist   R-squared:                       0.651
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     89.57
Date:                Mon, 23 Aug 2021   Prob (F-statistic):           1.49e-12
Time:                        13:52:36   Log-Likelihood:                -206.58
No. Observations:                  50   AIC:                             417.2
Df Residuals:                      48   BIC:                             421.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -17.5791      6.758     -2.601      0.012     -31.168      -3.990
speed          3.9324      0.416      9.464      0.000       3.097       4.768
==============================================================================
Omnibus:                        8.975   Durbin-Watson:                   1.676
Prob(Omnibus):                  0.011   Jarque-Bera (JB):                8.189
Skew:                           0.885   Prob(JB):                       0.0167
Kurtosis:                       3.893   Cond. No.                         50.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [49]:
smokers.head()

    Wgt  Gest Smoke
0  2940    38   yes
1  3130    38    no
2  2420    36   yes
3  2450    34    no
4  2760    39   yes

In [51]:
o = ols('Wgt ~ Gest', smokers).fit()
o.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    Wgt   R-squared:                       0.775
Model:                            OLS   Adj. R-squared:                  0.768
Method:                 Least Squares   F-statistic:                     103.4
Date:                Mon, 23 Aug 2021   Prob (F-statistic):           3.09e-11
Time:                        13:57:59   Log-Likelihood:                -208.21
No. Observations:                  32   AIC:                             420.4
Df Residuals:                      30   BIC:                             423.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -2037.0050    498.114     -4.089      0.000   -3054.290   -1019.720
Gest         130.8166     12.863     10.170      0.000     104.547     157.086
==============================================================================
Omnibus:                        0.786   Durbin-Watson:                   2.409
Prob(Omnibus):                  0.675   Jarque-Bera (JB):                0.808
Skew:                          -0.196   Prob(JB):                        0.668
Kurtosis:                       2.327   Cond. No.                         653.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# 회귀분석을 통한 예측

In [69]:
car = pd.read_excel('data/car.xlsx')
car.head()

   mileage model  price  year  my_car_damage  other_car_damage
0    63608    K3    970  2017              0            564596
1    69336    K3   1130  2015        1839700           1140150
2    36000    K3   1380  2016         446520           2244910
3    19029    K3   1390  2017         889000           4196110
4    97090    K3    760  2015        2339137           2029570

In [70]:
o = ols('price ~ mileage', car).fit()
o.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.457
Model:                            OLS   Adj. R-squared:                  0.455
Method:                 Least Squares   F-statistic:                     229.1
Date:                Mon, 23 Aug 2021   Prob (F-statistic):           5.81e-38
Time:                        15:04:05   Log-Likelihood:                -1895.7
No. Observations:                 274   AIC:                             3795.
Df Residuals:                     272   BIC:                             3803.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1258.7668     30.599     41.137      0.000    1198.526    1319.008
mileage       -0.0052      0.000    -15.136      0.000      -0.006      -0.005
==============================================================================
Omnibus:                        0.258   Durbin-Watson:                   1.101
Prob(Omnibus):                  0.879   Jarque-Bera (JB):                0.108
Skew:                           0.032   Prob(JB):                        0.947
Kurtosis:                       3.074   Cond. No.                     1.83e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.83e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [72]:
# new_car = pd.DataFrame({'mileage': [10000, 20000]})
new_car = pd.read_excel('data/new_car.xlsx')
o.predict(new_car)

0    1206.483684
1    1154.200600
2    1101.917516
3    1143.743983
4    1101.917516
5    1143.743983
dtype: float64

In [58]:
speed.head()

   speed  dist
0      4     2
1      4    10
2      7     4
3      7    22
4      8    16

In [59]:
o = ols('dist ~ speed', speed).fit()
o.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   dist   R-squared:                       0.651
Model:                            OLS   Adj. R-squared:                  0.644
Method:                 Least Squares   F-statistic:                     89.57
Date:                Mon, 23 Aug 2021   Prob (F-statistic):           1.49e-12
Time:                        14:54:09   Log-Likelihood:                -206.58
No. Observations:                  50   AIC:                             417.2
Df Residuals:                      48   BIC:                             421.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -17.5791      6.758     -2.601      0.012     -31.168      -3.990
speed          3.9324      0.416      9.464      0.000       3.097       4.768
==============================================================================
Omnibus:                        8.975   Durbin-Watson:                   1.676
Prob(Omnibus):                  0.011   Jarque-Bera (JB):                8.189
Skew:                           0.885   Prob(JB):                       0.0167
Kurtosis:                       3.893   Cond. No.                         50.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [61]:
o.predict(pd.DataFrame({'speed': [20]}))

0    61.06908
dtype: float64

In [73]:
o = ols('price ~ year', car).fit()
o.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.687
Model:                            OLS   Adj. R-squared:                  0.686
Method:                 Least Squares   F-statistic:                     597.3
Date:                Mon, 23 Aug 2021   Prob (F-statistic):           1.39e-70
Time:                        15:21:07   Log-Likelihood:                -1820.2
No. Observations:                 274   AIC:                             3644.
Df Residuals:                     272   BIC:                             3652.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -2.135e+05   8771.400    -24.341      0.000   -2.31e+05   -1.96e+05
year         106.4745      4.357     24.439      0.000      97.897     115.052
==============================================================================
Omnibus:                        9.748   Durbin-Watson:                   1.525
Prob(Omnibus):                  0.008   Jarque-Bera (JB):                9.774
Skew:                           0.447   Prob(JB):                      0.00754
Kurtosis:                       3.236   Cond. No.                     1.57e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.57e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# 범주형 자료의 회귀분석

더미 코딩

## 2개 범주

In [74]:
car.model.unique()

array(['K3', 'Avante'], dtype=object)

In [76]:
o = ols('price ~ model', car).fit()
o.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.011
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     3.039
Date:                Mon, 23 Aug 2021   Prob (F-statistic):             0.0824
Time:                        16:00:02   Log-Likelihood:                -1977.9
No. Observations:                 274   AIC:                             3960.
Df Residuals:                     272   BIC:                             3967.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     833.4146     23.144     36.009      0.000     787.850     878.980
model[T.K3]    80.3970     46.121      1.743      0.082     -10.402     171.196
==============================================================================
Omnibus:                       13.893   Durbin-Watson:                   0.528
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               15.007
Skew:                           0.573   Prob(JB):                     0.000551
Kurtosis:                       3.002   Cond. No.                         2.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [77]:
safety = pd.read_excel('data/safety.xlsx')
safety.head()

,risk,fuel,aspiration,doors,body,wheels,engine_location,wheel_base,length,width,height,curb_weight,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg
0,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,3.19,3.4,10.0,102,5500,24,30
1,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,3.19,3.4,8.0,115,5500,18,22
2,1,gas,std,four,sedan,fwd,front,105.8,192.7,71.4,55.7,2844,3.19,3.4,8.5,110,5500,19,25
3,1,gas,turbo,four,sedan,fwd,front,105.8,192.7,71.4,55.9,3086,3.13,3.4,8.3,140,5500,17,20
4,2,gas,std,two,sedan,rwd,front,101.2,176.8,64.8,54.3,2395,3.50,2.8,8.8,101,5800,23,29

In [80]:
safety.fuel.unique()

array(['gas', 'diesel'], dtype=object)

In [78]:
o = ols('risk ~ fuel', safety).fit()
o.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   risk   R-squared:                       0.027
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     4.313
Date:                Mon, 23 Aug 2021   Prob (F-statistic):             0.0395
Time:                        16:26:28   Log-Likelihood:                -251.03
No. Observations:                 159   AIC:                             506.1
Df Residuals:                     157   BIC:                             512.2
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       0.1333      0.305      0.437      0.662      -0.469       0.736
fuel[T.gas]     0.6653      0.320      2.077      0.039       0.033       1.298
==============================================================================
Omnibus:                        2.051   Durbin-Watson:                   1.005
Prob(Omnibus):                  0.359   Jarque-Bera (JB):                1.659
Skew:                           0.088   Prob(JB):                        0.436
Kurtosis:                       2.532   Cond. No.                         6.36
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## 3개 이상 범주

In [84]:
d.head()

    y  age  x2  x3 TRT
0  56   21   1   0   A
1  41   23   0   1   B
2  40   30   0   1   B
3  28   19   0   0   C
4  55   28   1   0   A

In [83]:
d.TRT.unique()

array(['A', 'B', 'C'], dtype=object)

In [86]:
o = ols('y ~ TRT', d).fit()
o.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.172
Model:                            OLS   Adj. R-squared:                  0.122
Method:                 Least Squares   F-statistic:                     3.424
Date:                Mon, 23 Aug 2021   Prob (F-statistic):             0.0445
Time:                        17:16:09   Log-Likelihood:                -137.86
No. Observations:                  36   AIC:                             281.7
Df Residuals:                      33   BIC:                             286.5
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     62.3333      3.359     18.557      0.000      55.500      69.167
TRT[T.B]     -10.4167      4.750     -2.193      0.035     -20.081      -0.752
TRT[T.C]     -11.0833      4.750     -2.333      0.026     -20.748      -1.419
==============================================================================
Omnibus:                        0.553   Durbin-Watson:                   1.488
Prob(Omnibus):                  0.758   Jarque-Bera (JB):                0.544
Skew:                          -0.267   Prob(JB):                        0.762
Kurtosis:                       2.721   Cond. No.                         3.73
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

- TRT A일때: 62.3
- TRT B일때: -10.4 + 62.3 
- TRT C일때: -11.0 + 62.3